!!! 5
%html
	%head
		%meta{ charset: "UTF-8" }
		%title Worker Bee
		%link{ rel: "stylesheet", href: "assets/css/application.css" }
		%script{ src: "http://code.jquery.com/jquery-1.8.3.min.js" }
		%script{ src: "assets/js/application.js" }
		%script{ src: "assets/js/ui.js" }
		%script{ src: "assets/js/login.js" }
	%body
		%header
			.branding Worker Bee
			.status
			.user
		%section#main