div.login_handler {
	width: 400px; height: 240px; margin: 150px auto 0; padding: 80px;
	background: $white; @include box-shadow;
	p { font-size: 20px; line-height: 28px; }
	p.hint { font-style: italic; font-size: 12px; line-height:14px; color: $light2; }
	input#api_key { width: 70%; margin: 0; }
	input[type=submit] { width: 28%; margin: 0; }
}

div.user_handler {}

div.project_selector {
	width: 600px; margin: 150px auto 0; text-align: center;
	div.project {
		display: inline-block; width: 220px; padding: 40px;
		background: $white; @include box-shadow; text-align: left;
	}
}